.smoky-black{
    color: #1c110a;
}
.bg-smoky-black{
    background-color: #1c110a;
}
.ecru{
    color: #b6ab7c;
}
.bg-ecru{
    background-color: #b6ab7c;
}
.ebony{
    color: #606d5d;
}
.rose-dust{
    color: #a16878;
}
.portland-orange{
    color: #f5653d;
}
.orange-yellow-crayola{
    color: #e9c46a;
}
.burnt-sienna{
    color: #EE6C4D;
}
.old-burgundy{
    color: #472D30;
}
.maroon {
    color: #a12e3b;
}
.light-grey{
    color: #f1f1f1;
}
.bg-light-grey{
    background-color: #f1f1f1;
    color: #000;
}
