.icon {
    width: 50%;
}
.xsm{
    width: 16px;
}

.sm {
    width: 20px;
}

.md {
    width: 24px;
}

.lg {
    width: 36px;
}
.honey-share img{
    width: 20px;   
}
.honey-reaction-icon img{
    width: 24px;
}
.margin-2{
    margin-right: 5px;
}
.margin-l-sm{
    margin-left: 5px;
}

