.icon {
    width: 50%;
}
.xsm{
    width: 16px;
    margin-right: 5px;
}
}
.sm {
    width: 20px;
    margin-right: 5px;
}

.md {
    width: 24px;
    margin-right: 5px;
}

.lg {
    width: 36px;
    margin-right: 5px;
}
.honey-share img{
    width: 20px;
    margin-right: 5px;
}
.honey-reaction-icon img{
    width: 24px;
}