/* *** 01. Fonts *** */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Source+Sans+Pro:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

/* *** 02. Loader Start*** */
#ftco-loader {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000; }
  
  #ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  
  #ftco-loader.show {
    visibility: visible;
    opacity: 1; }
  
  #ftco-loader .circular {
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;
    padding-top: 10vh;
    padding-left: 10vw;
    left: calc(10%);
    top: calc(10%);
    display: block;
    width: 50vw;
    }
/* *** Loader End *** */

/* *** 03. General *** */
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #888;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Martel Sans', sans-serif;
    color: #1B1B1B;
    line-height: 1.5em;
    margin: 0 0 20px;
    font-weight: 700;
}
h1 {
    font-size: 36px;
}
h1 span {
    color: #c56765;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5,
h6 {
    font-size: 16px;
}
img {
    border: none;
    outline: none;
    max-width: 100%;
}
ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 0, 0;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:hover {
    color: #1B1B1B;
    text-decoration: none;
}
a:focus {
    outline: 0;
    text-decoration: none;
}
b,
strong {
    font-weight: 700;
    color: #ff69b4;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888 !important;
    font-weight: 400;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #888 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #888 !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #888 !important;
}
button {
    border: none;
    background: none;
}

/* *** 04. Helpful Classes *** */
/* ** Colors ** */
.bg-black {
    background: #1B1B1B;
}
.bg-pink {
    background: #ff69b4;
}
.bg-deep-pink{
    background-color: #ff1493;
}
.bg-purple{
    background: #b19bd9;
}
.bg-deep-purple{
    background: #3a243b;
}
.bg-pink-color-gradient{
    background-image: linear-gradient(0, #b19bd9, #ff69b4);
}
.bg-light {
    background: #fff;
}
.bg-purples {
    background: #d6d4da;
}
/* ** Alignments ** */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
img,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #1B1B1B;
}
/* *** 05. Footer *** */
.honey-footer-section {
    padding: 6vh 0;
}
.honey-footer-section .brand {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 700;
    color: #c56765;
}
.honey-footer-section .brand img {
    width: 200px;
    color: #fff;
    filter: brightness(85%) contrast(120%);
}
@media all and (max-width: 500px) {
    .honey-footer-section .brand img {
        width: 45vw;
    }
}
.honey-footer-section .brand b {
    color: #c56765;
}
.honey-footer-section .brand span {
    color: #1B1B1B;
}
.honey-social-link {
    display: inline-block;
}
.honey-social-link li {
    display: inline-block;
    width: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 20%;
    background-color: white;
    transition: all 0.3 ease-in-out;
    font-size: 18px;
    margin-left: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.honey-social-link li:hover {
    color: #fff;
}
.honey-social-link li i {
    color: #3A243B;
}
.honey-footer-section p {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
.honey-footer-section h2 {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    color: #fff;
    margin: 0;
}
.honey-footer-section h3 {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 700;
    color: #c56765;
    margin: 15px 0 0 0;
}
.honey-footer-section h3 a {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 700;
    color: #c56765;
    margin: 0;
}

/* *** 06. Header *** */
.honey-site-header {
    padding: 40px 20px;
    position: absolute;
    top: 0;
    z-index: 900;
    width: 100%;
}
.honey-site-header .honey-site-logo {
    line-height: 0;
    padding: 0;
    color: #1b1b1b;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    z-index: 50000;
}
.honey-site-header .honey-site-logo img {
    width: 15vw;
    min-width: 120px;
    z-index: 50000;
}
.honey-site-header.scrolled {
    position: fixed;
    padding: 20px;
    top: 0;
    background: #fff;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}
.honey-site-header.awake {
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.honey-site-header.sleep {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* *** 07. Navigation *** */
/* ** BIG SCREENS** */
@media all and (min-width: 768px){
    .honey-menu-burger-wrap {
        display: none;
    }
    #honey-navbar-spy * {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }
        #honey-navbar-spy:after,
        #honey-navbar-spy > #honey-navbar > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
        }
        #honey-navbar-spy {
        width: auto;
        border-bottom: 3px solid #ff69b4;
        font-family: Martel Sans, sans-serif;
        line-height: 1;
        }
        .honey-site-header > .container > ul > li{
            float: right;
        }
        .honey-site-header.scrolled > .container > ul >li, .honey-site-header.awake > .container > ul > li{
            float: right;
        }
        .honey-site-header.scrolled > .container > ul > a, .honey-site-header.awake > .container > ul > a{
            width: fit-content;
            float: left;
        }
        #honey-navbar-spy > #honey-navbar > ul > li {
            float: right;
        }
        #honey-navbar-spy.align-center > #honey-navbar > ul {
        font-size: 0;
        text-align: center;
        }
        #honey-navbar-spy.align-center > #honey-navbar > ul > li {
        display: inline-block;
        float: none;
        }
        #honey-navbar-spy.align-right > #honey-navbar > ul > li {
        float: right;
        }
        #honey-navbar-spy.align-right > #honey-navbar > ul > li > a {
        margin-right: 0;
        margin-left: -4px;
        }
        .honey-site-header .container {
            padding: 0px 0px;
        }
        #honey-navbar-spy > #honey-navbar > ul > li > a {
        z-index: 2;
        padding: 18px 25px 12px 25px;
        font-size: 1.5vw;
        font-weight: 400;
        text-decoration: none;
        color: #ff69b4;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        }
        #honey-navbar-spy > #honey-navbar > ul > li.giddy > a,
        #honey-navbar-spy > #honey-navbar > ul > li:hover > a,
        #honey-navbar-spy > #honey-navbar > ul > li > a:hover {
        color: #ffffff;
        }
        #honey-navbar-spy > #honey-navbar > ul > li > a:after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 120%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        content: "";
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-transform: perspective(5px) rotateX(2deg);
        -webkit-transform-origin: bottom;
        -moz-transform: perspective(5px) rotateX(2deg);
        -moz-transform-origin: bottom;
        transform: perspective(5px) rotateX(2deg);
        transform-origin: bottom;
        }
        #honey-navbar-spy > #honey-navbar > ul > li.giddy > a:after,
        #honey-navbar-spy > #honey-navbar > ul > li:hover > a:after,
        #honey-navbar-spy > #honey-navbar > ul > li > a:hover:after {
        background: #ff69b4;
    }
}
/* ** SMALL SCREENS ** */
@media all and (max-width: 767px){
    .honey-site-menu {
        display: none;
        background: #fff;
        right: 0;
        z-index: 101;
        position: fixed;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        bottom: 0;
        top: 0;
        -webkit-box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 -20px 20px -5px rgba(0, 0, 0, 0.05);
        overflow: none;
    }
    .honey-menu-burger-wrap {
        position: relative;
        z-index: 1022;
    }
    .honey-site-nav-toggle {
        width: 30px;
        height: 30px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        z-index: 109;
        display: block !important;
        float: right;
        right: 0;
        display: none;
        border-bottom: none !important;
        padding-top: 1vw;
    }
    .honey-site-logo{
        float: left;
    }
    .honey-site-nav-toggle i,
    .honey-site-nav-toggle i:before,
    .honey-site-nav-toggle i:after {
        background: #1b1b1b !important;
    }
    .honey-site-nav-toggle.active i {
        background: transparent !important;
    }
/* ** Three lines burger** */
    .honey-site-nav-toggle i:before,
    .honey-site-nav-toggle i:after {
        content: '';
        width: 30px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    .honey-site-nav-toggle i {
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        width: 30px;
        height: 2px;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #fff;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    .honey-site-nav-toggle i:before {
        top: -7px;
    }
    .honey-site-nav-toggle i:after {
        bottom: -7px;
    }
    .honey-site-nav-toggle:hover i:before {
        top: -10px;
    }    
    .honey-site-nav-toggle:hover i:after {
        bottom: -10px;
    }    
    .honey-site-nav-toggle.active i {
        background: transparent !important;
    }    
    .honey-site-nav-toggle.active i:before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }    
    .honey-site-nav-toggle.active i:after {
        bottom: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }
    .honey-menu-burger-wrap {
        float: right;
    }
    /* ** Nav menu ** */
    .honey-site-menu.honey-site-menu-show{
        width: 100vw;
        height: 100vh;
        display: block;
    }
    .honey-site-menu ul {
        position: relative;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    
    .honey-site-menu ul > li {
        list-style: none;
        visibility: hidden;
        opacity: 0;
        top: -20px;
        position: relative;
        text-align: center;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        margin: 0 40px;
        padding: 15px;
        border-bottom: 1px solid #ececec;
    }
    
    .honey-site-menu ul > li.is-show {
        visibility: visible;
        opacity: 1;
        top: 0px;
    }
    
    .honey-site-menu ul > li a {
        color: #1b1b1b;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    
    .honey-site-menu ul > li a:hover {
        color: #c56765;
    }
    
    .honey-site-menu.honey-site-menu-show {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    
    .honey-site-logo-wrap {
        position: relative;
        z-index: 1021;
    }
}
/* ** 08. Slider Section ** */
.honey-slider-section {
    position: relative;
}
.honey-slider-section .honey-profile-info .d-flex {
    height: 100vh;
}
.honey-profile-info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
    text-align: center;
}
.honey-profile-info h2 {
    font-size: 10vw;
    color: #ff69b4;
    display: block;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    letter-spacing: 1px;
}
.honey-profile-info h2 span {
    display: block;
    font-size: 18px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #a08ac8;
    line-height: 1.5em;
}
.honey-profile-inner {
    padding: 20px;
    position: relative;
    z-index: 1;
}
.honey-main-slider .slide-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}    


.owl-nav div {
    background-color: transparent;
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 50px;
    top: calc(50% - 50px);
    transition: all 0.3s linear;
}
.owl-nav div.owl-next {
    left: auto;
    right: 50px;
}
/* *** 09. About Us - Index *** */
.honey-about-section-home {
    position: relative;
    padding: 6vw 0;
}
.honey-about-info h1 {
    font-family: 'Martel Sans', sans-serif;
    color: #fff;
    font-size: 5vh;
    line-height: 1.5em;
    margin: 0 0 15px;
    font-weight: 700;
}
.honey-about-info h3 {
    font-size: 3vh;
    font-weight: 400;
    color: #fff;
}

/* *** 10. About Us - About *** */
.honey-about-section {
    position: relative;
    padding: 160px 0 80px 0;
}
.honey-about-info h2 {
    font-family: 'Martel Sans', sans-serif;
    color: #1b1b1b;
    font-size: 32px;
    line-height: 1.5em;
    margin: 0 0 15px;
    font-weight: 700;
}
/* *** 11. About General *** */
.honey-about-info p {
    font-family: 'Martel Sans', sans-serif;
    color: #fff;
}
.also p{
    color: #000;
}
.honey-signature-dark {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 5vh;
    line-height: 1.5em;
    font-weight: 400;
}
.honey-signature-dark img {
    font-family: 'Poppins', sans-serif;
    color: #c56765;
    font-size: 5vh;
    line-height: 1.5em;
    font-weight: 400;
    height: 30px;
}